.fd-background-carbon-small {
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.fd-background-carbon-medium {
    background: linear-gradient(27deg, #151515 10px, transparent 10px) 0 10px, linear-gradient(207deg, #151515 10px, transparent 10px) 20px 0px, linear-gradient(27deg, #222 10px, transparent 10px) 0px 20px, linear-gradient(207deg, #222 10px, transparent 10px) 20px 10px, linear-gradient(90deg, #1b1b1b 20px, transparent 20px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 40px 40px;
}

.fd-background-carbon-large {
    background: linear-gradient(27deg, #151515 15px, transparent 15px) 0 15px, linear-gradient(207deg, #151515 15px, transparent 15px) 30px 0px, linear-gradient(27deg, #222 15px, transparent 15px) 0px 30px, linear-gradient(207deg, #222 15px, transparent 15px) 30px 15px, linear-gradient(90deg, #1b1b1b 30px, transparent 30px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 60px 60px;
}
